body {
    background-color: aqua;
}

.nav-text {
    font-size: 40px;
    font-weight:900;
    display: flex;
    justify-content: center;
}

#start-text {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.footer {
    display: block;
   background-color: red;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   height: 60px;
   width: 100%;
   border-top: 5px solid white;
   display: flex;
   justify-content: center;
}

#footer-text {
    padding-bottom: 10px;
}